<div class="container background-white extend">
    <h1 class="CF">Admin Logs <small>{{count}}</small></h1>
    <div class="lineBreak"></div>

    <div class="alert alert-success" ng-show="successMessage" role="alert">{{successMessage}}</div>
    <div class="alert alert-danger" ng-show="errorMessage" role="alert">{{errorMessage}}</div>
    <div class="alert alert-warning" ng-show="warningMessage" role="alert">{{warningMessage}}</div>

    <a href="/admin/dashboard" class="btn btn-default">Return to Dashboard</a>
    <a href="/admin/new/log" class="btn btn-success right">New Log</a>

    <br>

    <br>
    <br>

    <div class="col-xs-6 col-md-4">
        <div class="form-group">
            <label>Filter By Priority</label>
            <select class="form-control" ng-model="filter.priority" ng-change="filterTable()">
                <option value="all">All</option>
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
                <option value="note">Note</option>
            </select>
        </div>
        <div class="form-group">
            <label>Filter By Device</label>
            <select class="form-control" ng-model="filter.device" ng-change="filterTable()">
                <option value="all">All</option>
                <option value="mobile">Mobile</option>
                <option value="desktop">Desktop</option>
                <option value="general">General</option>
                <option value="browser">Browser</option>
            </select>
        </div>
        <div class="form-group">
            <label>Filter By Type</label>
            <select class="form-control" ng-model="filter.type" ng-change="filterTable()">
                <option value="all">All</option>
                <option value="bug">Bug</option>
                <option value="note">Note</option>
                <option value="general">General</option>
                <option value="build">Build</option>
                <option value="feature">New Feature</option>
                <option value="warning">Warning</option>
            </select>
        </div>
    </div>

    <div class="col-xs-6 col-md-4">
        <div class="col-xs-6">
            <label>Due Date</label>
            <div class="form-group">
                <label>
                    <input type="radio" ng-model="filter.date_due" data-ng-value="'with'" ng-change="filterTable()"> With Due Date
                </label>
                <br>
                <label>
                    <input type="radio" ng-model="filter.date_due" data-ng-value="'all'" ng-change="filterTable()"> Both
                </label>
                <br>

                <label>
                    <input type="radio" ng-model="filter.date_due" data-ng-value="'without'" ng-change="filterTable()"> Without Due Date
                </label>
            </div>
        </div>
        <div class="col-xs-6">
            <label>Fixed</label>
            <div class="form-group">
                <label>
                    <input type="radio" ng-model="filter.fixed" data-ng-value="true" ng-change="filterTable()"> Complete
                </label>
                <br>
                <label>
                    <input type="radio" ng-model="filter.fixed" data-ng-value="'all'" ng-change="filterTable()"> Both
                </label>
                <br>
                <label>
                    <input type="radio" ng-model="filter.fixed" data-ng-value="false" ng-change="filterTable()"> Incomplete
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Search Assignments</label>
            <input type="text" class="form-control" ng-model="filter.userText" ng-change="filterTable()">
        </div>
    </div>

    <div class="col-xs-6 col-md-4">
        <div class="col-xs-6">
            <label>Public</label>
            <div class="form-group">
                <label>
                    <input type="radio" ng-model="filter.public" data-ng-value="'all'" ng-change="filterTable()"> Show All
                </label>
                <br>
                <label>
                    <input type="radio" ng-model="filter.public" data-ng-value="true" ng-change="filterTable()"> Public
                </label>
                <br>
                <label>
                    <input type="radio" ng-model="filter.public" data-ng-value="false" ng-change="filterTable()"> Private
                </label>
            </div>
        </div>
        <div class="col-xs-6">
            <label>Assigned</label>
            <div class="form-group">
                <label>
                    <input type="radio" ng-model="filter.assigned" data-ng-value="'all'" ng-change="filterTable()"> Show All
                </label>
                <br>
                <label>
                    <input type="radio" ng-model="filter.assigned" data-ng-value="true" ng-change="filterTable()"> Assigned
                </label>
                <br>
                <label>
                    <input type="radio" ng-model="filter.assigned" data-ng-value="false" ng-change="filterTable()"> Unassigned
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Search</label>
            <input type="text" class="form-control" ng-model="filter.text" ng-change="filterTable()">
        </div>
    </div>


    <div class="table-responsive clear">
        <table class="table table-striped table-hover">
            <tr>
                <th><a ng-click="updateTable('log_id')">Log ID</a></th>
                <th class="text-center"><a ng-click="updateTable('fixed')">Fixed</a></th>
                <th><a ng-click="updateTable(['group', 'subgroup', 'date_due'])">Group</a></th>
                <th><a ng-click="updateTable('subgroup')">Subgroup</a></th>
                <th><a ng-click="updateTable(['public_title', 'date_due'])">Title</a></th>
                <th><a ng-click="updateTable(['date_due', 'group', 'subgroup'])">Date Due</a></th>
                <th><a ng-click="updateTable(['assigned_to', 'date_due', 'group'])">Assigned To</a></th>
                <th class='text-center'><a ng-click="updateTable('priority')">Priority</a></th>
            </tr>
            <tr ng-repeat="log in logs | orderBy:predicate:reverse" ng-show="log.show == true" ng-click="edit(log.log_id)">
                <td>{{log.log_id}}</td>
                <td class="text-center">
                    <a class="btn btn-danger btn-sm" ng-show="log.fixed === false || log.fixed == null"></a>
                    <a class="btn btn-success btn-sm" ng-show="log.fixed === true"></a>
                </td>
                <td>{{log.group}}</td>
                <td>{{log.subgroup}}</td>
                <td>{{log.public_title | limitTo: 40}}<span ng-show="log.public_title.length > 40">...</span></td>
                <td>{{log.date_due | date:'EEEE MMM d, yyyy':"UTC"}}</td>
                <td>{{log.assigned_to}}</td>
                <td class='text-center'>
                    <a class="btn btn-danger btn-sm" ng-show="log.priority === 'high'"></a>
                    <a class="btn btn-warning btn-sm" ng-show="log.priority === 'mid'"></a>
                    <a class="btn btn-success btn-sm" ng-show="log.priority === 'low'"></a>
                    <a class="btn btn-primary btn-sm" ng-show="log.priority === 'note'"></a>
                </td>
            </tr>
        </table>
    </div>

    <div class="clear" style="height: 100px;"></div>
</div>
